
<div class="col-sm-3 col-md-2 sidebar">
	<!-- List Categories -->
	<h2 class="titleSidebar" ng-click='viewList("alls")'>Test</h2>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h3>Create Articles moth January</h3>
	<button class="btn btn-primary" ng-click="createMonth(3,10,1)">Create Test</button>
	<!--
	<h3>Create 10 Articles 1 moth</h3>
	<button class="btn btn-primary" ng-click="createTest(3,10,1)">Create Test</button>
-->
	<h3>Create 50 Articles all year</h3>
	<button class="btn btn-primary" ng-click="createTest(5,50,5)">Create Test</button>

	<h3>Create 100 Articles</h3>
	<button class="btn btn-primary" ng-click="createTest(10,100,5)">Create Test</button>

	<h3>Create Historic</h3>
	<button class="btn btn-success" ng-click="createHistoric()">Create Historic</button>

	<h3>Create Favorites</h3>
	<button class="btn btn-success" ng-click="createFavorites()">Create Favorites</button>


	<h3>Delete All</h3>
	<button class="btn btn-warning" ng-click="deleteAll()">Delete</button>


</div>